
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"><style></style></head><body><u></u>







<div>
    <div class="m_container">
        <h2 class="m_container-heading"><span class="m_heading_font">Liver Disease Prediction</span></h2>
    </div>

    <div class="m_ml-container">
        <form method="post"  action="/predict">
            <br>
            <h3>Age</h3>
            <input id="m_first" name="Age">
            <br>
            <h3>Gender</h3>
            <input id="m_second" name="Gender">
            <br>
            <h3>Total Bilirubin</h3>
            <input id="m_third" name="Total_Bilirubin">
            <br>
            <h3>Direct_Bilirubin</h3>
            <input id="m_fourth" name="Direct_Bilirubin">
            <br>
            <h3>Alkaline Phosphotase</h3>
            <input id="m_fifth" name="Alkaline_Phosphotase">
            <br>
            <h3>Alamine Aminotransferase</h3>
            <input id="m_sixth" name="Alamine_Aminotransferase">
            <br>
            <h3>Aspartate Aminotransferase</h3>
            <input id="m_seventh" name="Aspartate_Aminotransferase">
            <br>
            <h3>Total Protiens</h3>
            <input id="m_eight" name="Total_Protiens">
            <br>
            <h3>Albumin</h3>
            <input id="m_ninth" name="Albumin">
            <br>
            <h3>Albumin and Globulin Ratio</h3>
            <input id="m_tenth" name="Albumin_and_Globulin_Ratio">
            <br>
            <br>
            <br>
            <button id="m_sub" type="submit ">Submit</button>
            <br>
            <br>
            <br>
            <br>
            <p class="m_footer-description">Suhas_Kulkarni_32</p>

        </form>
    </div>







</div>



</body></html>