
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"><style></style></head><body><u></u>








<div>

    <div class="m_container">
        <form method="post" target="_blank">
            <h2 class="m_container-heading"><span class="m_heading_font">Liver Disease Prediction</span></h2>

        <br><br><br><br><br><br><br>


		<div class="m_results">
			{% if prediction==1 %}
				<h1><span class="m_danger"><br><br>You have LIVER DISEASE <br><br>Please Consult a Doctor.</span></h1>

			{% elif prediction==2 %}
				<h1><span class="m_safe">Congratulation!<br><br>You DONT have LIVER DISEASE.</span></h1>

			{% endif %}
		</div>
        </form>

    </div>
    <div>
            <br><br> <br><br><br><br><br><br><br><br>

            <p class="m_footer-description">Suhas_Kulkarni_32</p>

    </div>





</div>

</body></html>